/* Default styles */

.App-header {
  background-color: #343d4b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* End Default Styles */

/* App Styles */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.25em;
}

:root {
  --gradient: linear-gradient(
    135deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(96, 96, 193, 1) 60%,
    rgba(64, 59, 154, 1) 100%
  );
}

.clear {
  clear: both;
}

.html {
  height: 100vh;
}

body {
  overflow: hidden;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #343d4b;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.container {
  height: 400px;
  display: flex;
  position: relative;
}

.weather-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: var(--gradient);
  border-radius: 25px;
}

.current-weather {
  height: 100%;
  border-radius: 25px;
  width: 300px;
  background-color: white;
  z-index: 1;
  position: relative;
  -webkit-box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  -o-transition: transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: translateZ(0) scale(1.02) perspective(1000px);
  transform: translateZ(0) scale(1.02) perspective(1000px);
  float: left;
}

.current-weather:hover {
  -webkit-transform: scale(1.1) perspective(1500px) rotateY(5deg);
  transform: scale(1.1) perspective(1500px) rotateY(5deg);
}

.date-container {
  position: absolute;
  top: 25px;
  left: 25px;
}

.date-container h2 {
  font-size: 2rem;
  margin: 0;
}

.date-day {
  display: block;
  margin: 0;
}

.location {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.5rem;
}

.weather-container svg {
  height: 100px;
  width: auto;
  margin: auto;
}

.weather-temp {
  margin: 0;
  font-weight: 700;
  font-size: 4em;
}

.weather-info {
  height: 380px;
  padding-top: 25px;
  top: 50%;
  margin-top: -190px;
  margin-left: -15px;
  border-radius: 25px;
  background-color: #222831;
  width: 450px;
  float: left;
  position: relative;
}

/* -------- Form CSS ----------- */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  border-radius: 25px;
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button:enabled {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #007bff;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:disabled {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #dc3545;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover:enabled {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #fff;
  color: #222831;
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

/* -------- END FORM CSS --------- */

.today-info {
  padding: 15px;
  margin: 0 25px 25px 25px;
  border-radius: 10px;
  font-size: 2rem;
}

.today-info > div:not(:last-child) {
  margin: 0 0 10px 0;
}

.today-info > div .title {
  float: left;
  font-weight: 700;
}

.today-info > div .value {
  float: right;
}

.week-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-left: 17%;
  margin-right: auto;
  background-image: var(--gradient);
  width: 71%;
  border-radius: 10px;
}

.week-list > li {
  float: left;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 200ms ease;
  -o-transition: 200ms ease;
  transition: 200ms ease;
  border-radius: 10px;
}

.week-list > li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background: #fff;
  color: #222831;
  -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
}

.week-list > li .day-name {
  display: block;
  margin: 10px 0 0 0;
  text-align: center;
}

.week-list > li .day-icon {
  display: block;
  height: 30px;
  width: auto;
  margin: 0 auto;
}

.week-list > li .day-temp {
  display: block;
  text-align: center;
  margin: 10px 0 0 0;
  font-weight: 700;
}

@media only screen and (min-width: 769px) {
  .App-header {
    min-height: 100vh;
  }
  .weather-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
  }

  .form-inline {
    margin-left: auto;
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    -webkit-box-align: start;
    margin-top: 10%;
  }
  .container {
    flex-direction: column;
    width: 100%;
  }
  .current-weather {
    margin: auto;
    width: 80%;
    height: 70%;
  }

  .date-container {
    top: 15%;
  }

  .location {
    margin-top: 40%;
  }

  .weather-container {
    top: 15%;
    right: 25px;
    position: absolute;
  }

  .weather-temp {
    font-size: 2em;
    text-align: center;
  }

  .weather-info {
    float: none;
    width: 75%;
    margin: auto;
    margin-top: -220px;
    height: 500px;
  }

  .form-inline label {
    display: none;
  }

  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    width: 60%;
  }

  .today-info {
    font-size: 1.5em;
  }

  .week-list {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 90%;
    border-radius: 10px;
  }

  .week-item {
    width: 20%;
  }
}

@media only screen and (max-width: 414px) {
  .current-weather {
    height: 50%;
  }

  .date-container {
    top: 20%;
  }

  .weather-container svg {
    height: 80px;
    width: auto;
    margin: auto;
  }

  .location {
    margin-top: 20%;
    font-size: 1em;
  }

  .weather-info {
    margin-top: -250px;
    height: 350px;
  }

  .today-info {
    font-size: 1em;
  }

  .week-list {
    width: 90%;
  }
}

@media only screen and (max-width: 400px) {
  .week-item {
    font-size: 0.8em;
  }
  .week-list > li .day-icon {
    display: block;
    height: 20px;
    width: auto;
    margin: 0 auto;
  }
}

@media only screen and (max-height: 620px) {
  .container {
    margin-top: -50px;
  }
}

/* End App Styles */

/* Spinner */
.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
